@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh; /* Dynamic viewport height */
  overscroll-behavior: none;
}

#root {
  min-height: 100dvh;
  position: relative;
}

@theme {
  --font-main: "Merriweather", serif;
 
}